ComponentDropDown BITMAP "ComponentDropDown.bmp"
DownArrowBlue BITMAP "DownArrowBlue.bmp"
FormDropDown BITMAP "FormDropDown.bmp"
GrepNextItem16x16 BITMAP "GrepNextItem16x16.bmp"
GrepPrevItem16x16 BITMAP "GrepPrevItem16x16.bmp"
GX24 BITMAP "GX24.bmp"
GX32 BITMAP "GX32.bmp"
NoIcon BITMAP "NoIcon.bmp"
PositionDropDown BITMAP "PositionDropDown.bmp"
TAddDockWindowExpert BITMAP "TAddDockWindowExpert.bmp"
TAddToCapitalizationExpert BITMAP "TAddToCapitalizationExpert.bmp"
TAlignLinesExpert BITMAP "TAlignLinesExpert.bmp"
TAsciiChartExpert BITMAP "TAsciiChartExpert.bmp"
TBackupProjectExpert BITMAP "TBackupProjectExpert.bmp"
TBookmarksExpert BITMAP "TBookmarksExpert.bmp"
TChangeCaseExpert BITMAP "TChangeCaseExpert.bmp"
TClassBrowserExpert BITMAP "TClassBrowserExpert.bmp"
TCleanDirectoriesExpert BITMAP "TCleanDirectoriesExpert.bmp"
TClipboardHistoryExpert BITMAP "TClipboardHistoryExpert.bmp"
TCodeFormatterExpert BITMAP "TCodeFormatterExpert.bmp"
TCodeLibrarianExpert BITMAP "TCodeLibrarianExpert.bmp"
TCodeProofreaderExpert BITMAP "TCodeProofreaderExpert.bmp"
TCommentExpert BITMAP "TCommentExpert.bmp"
TComponentGridExpert BITMAP "TComponentGridExpert.bmp"
TComponentSelectExpert BITMAP "TComponentSelectExpert.bmp"
TComponentsToCodeExpert BITMAP "TComponentsToCodeExpert.bmp"
TConvertRawStringsExpert BITMAP "TConvertRawStringsExpert.bmp"
TConvertStringsExpert BITMAP "TConvertStringsExpert.bmp"
TCopyComponentNamesExpert BITMAP "TCopyComponentNamesExpert.bmp"
TCopyRawStringsExpert BITMAP "TCopyRawStringsExpert.bmp"
TCopyUnquotedExpert BITMAP "TCopyUnquotedExpert.bmp"
TDateTimeExpert BITMAP "TDateTimeExpert.bmp"
TeCodeFormatterExpert BITMAP "TeCodeFormatterExpert.bmp"
TEditorPopupMenuExpert BITMAP "TEditorPopupMenuExpert.bmp"
TEditPathExpert BITMAP "TEditPathExpert.bmp"
TExpertManagerExpert BITMAP "TExpertManagerExpert.bmp"
TExplicitFilterExpert BITMAP "TExplicitFilterExpert.bmp"
TFavoriteFilesExpert BITMAP "TFavoriteFilesExpert.bmp"
TFindComponentReferenceExpert BITMAP "TFindComponentReferenceExpert.bmp"
TFocusCodeEditorExpert BITMAP "TFocusCodeEditorExpert.bmp"
TGotoExpert BITMAP "TGotoExpert.bmp"
TGoToNextModificationExpert BITMAP "TGoToNextModificationExpert.bmp"
TGoToPrevModificationExpert BITMAP "TGoToPrevModificationExpert.bmp"
TGrepExpert BITMAP "TGrepExpert.bmp"
TGrepMenuEntryExpert BITMAP "TGrepMenuEntryExpert.bmp"
TGrepNextItemExpert BITMAP "TGrepNextItemExpert.bmp"
TGrepPrevItemExpert BITMAP "TGrepPrevItemExpert.bmp"
TGrepSearchExpert BITMAP "TGrepSearchExpert.bmp"
THideNonVisualCompsExpert BITMAP "THideNonVisualCompsExpert.bmp"
TIDEMenuShortCutsExpert BITMAP "TIDEMenuShortCutsExpert.bmp"
TIfDefExpert BITMAP "TIfDefExpert.bmp"
TInsertAutoTodoExpert BITMAP "TInsertAutoTodoExpert.bmp"
TKeyboardShortcutsExpert BITMAP "TKeyboardShortcutsExpert.bmp"
TLocateDelimiterExpert BITMAP "TLocateDelimiterExpert.bmp"
TMacroLibPlaybackExpert BITMAP "TMacroLibPlaybackExpert.bmp"
TMacroLibraryExpert BITMAP "TMacroLibraryExpert.bmp"
TMacroLibRecordExpert BITMAP "TMacroLibRecordExpert.bmp"
TMacroTemplatesExpert BITMAP "TMacroTemplatesExpert.bmp"
TMenusForEditorExperts BITMAP "TMenusForEditorExperts.bmp"
TMessageDialogExpert BITMAP "TMessageDialogExpert.bmp"
TMoveToDelimiterExpert BITMAP "TMoveToDelimiterExpert.bmp"
TNextIdentExpert BITMAP "TNextIdentExpert.bmp"
TOpenFileExpert BITMAP "TOpenFileExpert.bmp"
TPasteAsExpert BITMAP "TPasteAsExpert.bmp"
TPasteQuotedExpert BITMAP "TPasteQuotedExpert.bmp"
TPEInformationExpert BITMAP "TPEInformationExpert.bmp"
TPerfectLayoutExpert BITMAP "TPerfectLayoutExpert.bmp"
TPreviousIdentExpert BITMAP "TPreviousIdentExpert.bmp"
TProcedureListExpert BITMAP "TProcedureListExpert.bmp"
TProjectDependenciesExpert BITMAP "TProjectDependenciesExpert.bmp"
TProjOptionSetsExpert BITMAP "TProjOptionSetsExpert.bmp"
TRemoveMatchingLinesExpert BITMAP "TRemoveMatchingLinesExpert.bmp"
TRenameComponentsExpert BITMAP "TRenameComponentsExpert.bmp"
TReplaceCompExpert BITMAP "TReplaceCompExpert.bmp"
TReselectDesktopExpert BITMAP "TReselectDesktopExpert.bmp"
TReverseStatementExpert BITMAP "TReverseStatementExpert.bmp"
TSelectIdentifierExpert BITMAP "TSelectIdentifierExpert.bmp"
TSetComponentPropertiesExpert BITMAP "TSetComponentPropertiesExpert.bmp"
TSetFocusControlExpert BITMAP "TSetFocusControlExpert.bmp"
TSortExpert BITMAP "TSortExpert.bmp"
TSourceExportExpert BITMAP "TSourceExportExpert.bmp"
TTabExpert BITMAP "TTabExpert.bmp"
TToDoExpert BITMAP "TToDoExpert.bmp"
TUnCommentExpert BITMAP "TUnCommentExpert.bmp"
TUsesClauseMgrExpert BITMAP "TUsesClauseMgrExpert.bmp"
TWarnExpert BITMAP "TWarnExpert.bmp"
UnitDropDown BITMAP "UnitDropDown.bmp"
Unspecified BITMAP "Unspecified.bmp"
unused_TQuoteExpert BITMAP "unused_TQuoteExpert.bmp"
unused_TUnquoteExpert BITMAP "unused_TUnquoteExpert.bmp"
UpArrowBlue BITMAP "UpArrowBlue.bmp"
UsesDropDown BITMAP "UsesDropDown.bmp"
