ComponentDropDown BITMAP "ComponentDropDown.bmp"
DownArrowBlue BITMAP "DownArrowBlue.bmp"
FormDropDown BITMAP "FormDropDown.bmp"
GrepNextItem16x16 BITMAP "GrepNextItem16x16.bmp"
GrepPrevItem16x16 BITMAP "GrepPrevItem16x16.bmp"
GX24 BITMAP "GX24.bmp"
GX32 BITMAP "GX32.bmp"
PositionDropDown BITMAP "PositionDropDown.bmp"
TAddDockWindowExpert BITMAP "TAddDockWindowExpert.bmp"
TAddToCapitalizationExpert BITMAP "TAddToCapitalizationExpert.bmp"
TAlignExpert BITMAP "TAlignExpert.bmp"
TASCIIExpert BITMAP "TASCIIExpert.bmp"
TBackupExpert BITMAP "TBackupExpert.bmp"
TBookmarksExpert BITMAP "TBookmarksExpert.bmp"
TChangeCaseExpert BITMAP "TChangeCaseExpert.bmp"
TClassExpert BITMAP "TClassExpert.bmp"
TCleanExpert BITMAP "TCleanExpert.bmp"
TClipExpert BITMAP "TClipExpert.bmp"
TCodeFormatterExpert BITMAP "TCodeFormatterExpert.bmp"
TCodeLibExpert BITMAP "TCodeLibExpert.bmp"
TCodeProofreaderExpert BITMAP "TCodeProofreaderExpert.bmp"
TCommentExpert BITMAP "TCommentExpert.bmp"
TComponentSelectExpert BITMAP "TComponentSelectExpert.bmp"
TCompRenameExpert BITMAP "TCompRenameExpert.bmp"
TCompsToCodeExpert BITMAP "TCompsToCodeExpert.bmp"
TConvertRawStringsExpert BITMAP "TConvertRawStringsExpert.bmp"
TConvertStringsExpert BITMAP "TConvertStringsExpert.bmp"
TCopyComponentNamesExpert BITMAP "TCopyComponentNamesExpert.bmp"
TCopyRawStringsExpert BITMAP "TCopyRawStringsExpert.bmp"
TCopyUnquotedExpert BITMAP "TCopyUnquotedExpert.bmp"
TDateExpert BITMAP "TDateExpert.bmp"
TDependExpert BITMAP "TDependExpert.bmp"
TeCodeFormatterExpert BITMAP "TeCodeFormatterExpert.bmp"
TEditorPopupMenuExpert BITMAP "TEditorPopupMenuExpert.bmp"
TExpertManagerExpert BITMAP "TExpertManagerExpert.bmp"
TFilesExpert BITMAP "TFilesExpert.bmp"
TFindCompRefWizard BITMAP "TFindCompRefWizard.bmp"
TFocusCodeEditorExpert BITMAP "TFocusCodeEditorExpert.bmp"
TGotoExpert BITMAP "TGotoExpert.bmp"
TGoToNextModificationExpert BITMAP "TGoToNextModificationExpert.bmp"
TGoToPrevModificationExpert BITMAP "TGoToPrevModificationExpert.bmp"
TGrepDlgExpert BITMAP "TGrepDlgExpert.bmp"
TGrepExpert BITMAP "TGrepExpert.bmp"
TGrepNextItemExpert BITMAP "TGrepNextItemExpert.bmp"
TGrepPrevItemExpert BITMAP "TGrepPrevItemExpert.bmp"
TGridExpert BITMAP "TGridExpert.bmp"
THideNonVisualComps BITMAP "THideNonVisualComps.bmp"
TIfDefExpert BITMAP "TIfDefExpert.bmp"
TInsertAutoTodoExpert BITMAP "TInsertAutoTodoExpert.bmp"
TKeyboardShortcuts BITMAP "TKeyboardShortcuts.bmp"
TLocateDelimiter BITMAP "TLocateDelimiter.bmp"
TMacroLibExpert BITMAP "TMacroLibExpert.bmp"
TMacroTemplatesExpert BITMAP "TMacroTemplatesExpert.bmp"
TMenusForEditorExperts BITMAP "TMenusForEditorExperts.bmp"
TMoveToDelimiter BITMAP "TMoveToDelimiter.bmp"
TMsgExpExpert BITMAP "TMsgExpExpert.bmp"
TNextIdentExpert BITMAP "TNextIdentExpert.bmp"
TOpenFileExpert BITMAP "TOpenFileExpert.bmp"
TPasteAsExpert BITMAP "TPasteAsExpert.bmp"
TPasteQuotedExpert BITMAP "TPasteQuotedExpert.bmp"
TPEExpert BITMAP "TPEExpert.bmp"
TPerfectLayoutExpert BITMAP "TPerfectLayoutExpert.bmp"
TPrevIdentExpert BITMAP "TPrevIdentExpert.bmp"
TProcedureExpert BITMAP "TProcedureExpert.bmp"
TProjOptionSetsExpert BITMAP "TProjOptionSetsExpert.bmp"
TQuoteExpert BITMAP "TQuoteExpert.bmp"
TRemoveMatchingLinesExpert BITMAP "TRemoveMatchingLinesExpert.bmp"
TReplaceCompExpert BITMAP "TReplaceCompExpert.bmp"
TReselectDesktopExpert BITMAP "TReselectDesktopExpert.bmp"
TReverseStatementExpert BITMAP "TReverseStatementExpert.bmp"
TSelectIdentifierExpert BITMAP "TSelectIdentifierExpert.bmp"
TSetComponentPropsExpert BITMAP "TSetComponentPropsExpert.bmp"
TSetFocusControlExpert BITMAP "TSetFocusControlExpert.bmp"
TShortCutExpert BITMAP "TShortCutExpert.bmp"
TSortExpert BITMAP "TSortExpert.bmp"
TSourceExportExpert BITMAP "TSourceExportExpert.bmp"
TTabExpert BITMAP "TTabExpert.bmp"
TToDoExpert BITMAP "TToDoExpert.bmp"
TUnCommentExpert BITMAP "TUnCommentExpert.bmp"
TUnquoteExpert BITMAP "TUnquoteExpert.bmp"
TUsesExpert BITMAP "TUsesExpert.bmp"
TWarnExpert BITMAP "TWarnExpert.bmp"
UnitDropDown BITMAP "UnitDropDown.bmp"
Unspecified BITMAP "Unspecified.bmp"
UpArrowBlue BITMAP "UpArrowBlue.bmp"
UsesDropDown BITMAP "UsesDropDown.bmp"
